.branch-form-select{
  padding: 8px 179px 11px 19px;
  font-size: $font-size-base*1.125; // 18
  @include md {
    padding: 12px 109px 12px 16px ;
    font-size: $font-size-base; // 16
  }
  @include sm {
    padding: 7px 163px 9px 16px ;
    font-size: $font-size-base*0.875; // 14
  }
}

.branch-info{
  @include md {
    width: 50%;
  }
}
.branch-img {
  @include md {
    width: 50%;
  }
}

