.breadcrumb-item {
  @include md {
    font-size: $font-size-base*0.875; // 14
  }
  &::after {
  float: right;
  padding: 0 0.5rem;
  color: $gray;
  content: "/";
  }
}
.breadcrumb-item-current{
  @include md {
    font-size: $font-size-base*0.875; // 14
  }
}
.hashtag{
  font-size: $h4-font-size;
  padding-right: $spacer;
  @include md {
    font-size:$h6-font-size ;
    padding-right: $spacer*0.5 ;
  }
  @include sm {
    font-size: $font-size-base*0.875; // 14
    padding-right: $spacer*0.25 ;
  }
}

.post-padding{
  padding-bottom: 160px;
  @include md {
    padding-bottom: 96px;
  }
  @include sm {
    padding-bottom: 56px;
  }
}
.post{
  .post-title{
    font-size: $h2-font-size;
    margin-bottom: $spacer *0.5;
    @include md {
      font-size: $h3-font-size;
      margin-bottom: $spacer *0.25;
    }
    @include sm {
      font-size: $h5-font-size;
      margin-bottom: 0;
      color: $info;
    }
  }
  
  .post-subtitle{
    font-size: $font-size-base*1.75; //28
    margin-bottom: $spacer *1.5;
    @include md {
      font-size: $h6-font-size;
      
    }
    @include sm {
      font-size: $font-size-base*0.875; // 14
      margin-bottom: $spacer *1.25;;
    }
  }
  .post-time {
    @include md {
      font-size: $font-size-base*0.875; // 14
    }
    @include sm {
      color: $dark;
    }
  }
  .post-card{
    .post-card-img{
      width: 100%;
      @include md {
        height: 333px;
      }
      @include sm {
        height: 225px;
      }
    }
    .post-card-content{
      margin: 24px 0 40px 0;
      @include md {
        margin: 16px 0 24px 0;
      }
    }
    
  }
  .post-card-share{
    font-size: $h5-font-size;
    @include md {
      font-size: $h6-font-size;
    }
   
  }
  .post-card-link{
    transition: all 0.3s;
    &:hover {
      transform: scale(1.15);
    }
  }
  
  .post-card-img{
    @include md {
      width: 20px;
      height: 20px;
    }
  }
  .post-icon-undo, .post-icon-redo{
    width: 16px;
    height: 16px;
  }
  .post-previous, .post-next{
    font-size: $h5-font-size;
    &::hover {
      color: $primary;
    }
    @include md {
      font-size: $h6-font-size;
    }
    @include sm {
      font-size: $font-size-base*0.875; // 14
    }
  }
}


.post-tag{
  font-size: $font-size-base*1.75;
  @include md {
    font-size: $h5-font-size;
  }
}
.post-icon-tag{
  width: 38px;
  height: 38px;
  @include md {
    width: 28px;
    height: 28px
  }
}