.series-menu {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 8px solid transparent;
  &:hover {
    border-bottom: 8px solid $primary;
  }
  &-active {
    border-bottom: 8px solid $primary;
  }
}
.series-menu-text {
  font-size: $h3-font-size;
  padding: 32px;
  @include lg {
    font-size: $h4-font-size;
    padding: 16px;
  }
  @include md {
    font-size: $font-size-base * 0.875; //14
    padding: 8px;
  }
  .series-menu-icon {
    width: 32px;
    height: 32px;
    @include md {
      width: 21px;
      height: 21px;
    }
    @include sm {
      width: 11px;
      height: 11px;
    }
  }
}

.series-product-padding {
  padding: 80px 0 160px 0;
  @include md {
    padding: 56px 0 96px 0;
  }
  @include sm {
    padding: 32px 0 56px 0;
  }
}

.series-product-titleEn {
  font-size: $font-size-base * 2.625; //42
  @include md {
    font-size: $h3-font-size;
  }
  @include sm {
    font-size: $h5-font-size;
  }
}

.series-product-titleCh {
  font-size: $h3-font-size; //42
  margin-bottom: 40px;
  @include md {
    font-size: $h4-font-size;
    margin-bottom: 32px;
  }
  @include sm {
    font-size: $h6-font-size;
    margin-bottom: 20px;
  }
}
.series-product-card {
  margin-bottom: 104px;
  @include md {
    margin-bottom: 72px;
  }
  @include sm {
    margin-bottom: 32px;
  }
  .series-product-name {
    font-size: $h4-font-size;
    @include sm {
      font-size: $h6-font-size;
    }
  }
  .series-product-price {
    font-size: $h4-font-size;
    color: $primary;
    @include sm {
      font-size: $h6-font-size;
    }
  }
  .series-product-color {
    width: 24px;
    height: 24px;
    border-radius: 5px;
  }
  .optical-product-img {
    width: 100%;
    height: 164px;
    @include sm {
      height: 166px;
    }
  }
}

.optical-banner-1 {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-1.png?raw=true);
  height: 304px;
  @include sm {
    height: 148px;
  }
}

.optical-banner-2 {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-2.png?raw=true);
  height: 304px;
  @include sm {
    height: 148px;
  }
}
