.sun-banner-1 {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-3.png?raw=true);
  height: 304px;
  @include sm {
    height: 148px;
  }
}

.sun-banner-2 {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-2-color.png?raw=true);
  height: 304px;
  @include sm {
    height: 148px;
  }
}

.sun-product-img, .location-img{
  height: 224px;
  width: 100%;
  @include md {
    height: 164px;
  }
  @include sm {
    height: 164px;
  }
}