@each $key, $value in $spacers {
    .mr-#{$key}{
        margin-right: $value;
    }
};
@each $key, $value in $spacers {
    .mb-#{$key}{
        margin-bottom: $value;
    }
};
@each $key, $value in $spacers {
    .mt-#{$key}{
        margin-top: $value;
    }
};
$spacers: (
    0: 0,
    1: ($spacer * .25), // 4
    2: ($spacer * .5),  // 8
    3: $spacer,         // 16
    4: ($spacer * 1.5), // 24 
    5: ($spacer * 3),   // 48
  
);

@each $key, $value in $spacers {
    .p-#{$key}{
       padding: $value;
    }
};
.pt-60{
   padding-top: 60px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-40{
    padding-bottom: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-32{
    margin-bottom: 32px;
}

.mt-60{
    margin-top: 60px;
}

.mt-sm-3{
    @include sm {
        margin-top: $spacer;
    }
}
.mt-3{
    margin-top: $spacer;
}

.mb-md-32{
    @include md {
        margin-bottom: 32px;
    }
}
.mb-md-12{
    @include md {
        margin-bottom: 12px;
    }
}
.pb-52{
    padding-bottom: 52px;
}
.mb-20{
    margin-bottom: 20px;
}

.p-sm-4{
    @include sm {
        padding: $spacer * 1.5;
    }
}
.mb-sm-2{
    @include sm {
        margin-bottom: $spacer * .5;
    }
}
.mb-32{
    margin-bottom: 32px;
}
.mb-md-20{
    @include md {
        margin-bottom: 20px;
    }
}
.mb-sm-16{
    @include sm {
        margin-bottom: 16px;
    }
}
.mb-sm-30{
    @include sm {
        margin-bottom: 30px;
    }
}