@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700;1,900&display=swap');

$font-noto: 'Noto Sans TC', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$gutter-width: 1.5rem;
$grid-num: 12;

$grid-breakpoints: (
    '': false,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$primary:       #AA0601;
$secondary:     #9F1213;
$success:       #AA06010D;
$info:          #650300;
$warning:       #B75929;
// $danger:        $red;
$dark:        #000;
$white:       #fff;
$gray:          #707070;

$themes: (
    'primary':       #AA0601,
    'secondary':     #9F1213,
    'accent':       #5F3E2D,
    'success':       #FBF2F2,
    'info':          #650300,
    'warning':       #B75929,
    // 'danger:        red,
    'dark':        #000,
    'white':       #fff,
    'gray':          #555555, 
);



$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * .25), // 4
    2: ($spacer * .5),  // 8
    3: $spacer,         // 16
    4: ($spacer * 1.5), // 24 
    5: ($spacer * 3),   // 48
  
);




$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$font-size-base:              1rem;

$h1-font-size:                $font-size-base * 4 ; //64
$h2-font-size:                $font-size-base * 3 ; //48
$h3-font-size:                $font-size-base * 2 ; //32
$h4-font-size:                $font-size-base * 1.5 ; // 24
$h5-font-size:                $font-size-base * 1.25 ; // 20
$h6-font-size:                $font-size-base ; // 16

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);