.footer {
  padding: 32px 0;
  @include sm {
    padding: 24px 0;
  }
  ul li:last-of-type a {
    padding: 0;
  }
  .footer-menu {
    padding: 0 48px 36px 0;
    @include lg {
      padding: 0 40px 18px 0;
    }
    @include md{
      padding: 0 30px 18px 0;
    }
    @include sm {
      display: none;
    }
  }
  .footer-text {
    font-size: $font-size-base * 2.25; //36
    @include lg {
      font-size: $font-size-base * 2;
    }
    @include md {
      font-size: $h5-font-size; // 20
    }
    @include sm {
      font-size: $h6-font-size; // 16
    }
  }
  .footer-icon {
    padding-right: 32px;
    transition: all 0.3s;
    &:hover{
      transform: scale(1.2);
    }
    @include md {
      padding-right: 24px;
      img {
        width: 24px;
        height: 24px;
      }
    }
    
  }
  .footer-condition{
    padding-right: 48px;
    @include md {
      padding-right: 24px;
    }
  }
}