.nav {
  padding: 0px 88px;
  @include lg {
    padding: 0 39px;
  }
  @include md {
    flex-direction: column;
    padding: 0 0;
  }
  .logo a {
    width: 80px;
    height: 48.57px;
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/logo.png)
      no-repeat;
    @include md {
      background-image: url(https://firebasestorage.googleapis.com/v0/b/tzuhui-10c1e.appspot.com/o/others%2F202004%2F1587551913424-logo-new_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201.png?alt=media&token=7f7e11bb-8470-4bec-8b77-ebda26cb6a76);
      width: 48px;
      height: 30px;
      margin: 10px 0;
    }
  }
  .menu {
    flex-wrap: wrap;
    @include md {
      width: 100%;
    }

    & li {
      @include md {
        width: 50%;
        border: 1px solid #fff;
        &:hover {
          background-color: #650300;
        }
      }
    }
  }
  .menu li:last-child a {
    padding: 39px 0 39px 32px;
    @include md {
      padding: 8px 0;
      text-align: center;
    }
  }
  .menu a {
    padding: 39px 32px;
    @include md {
      padding: 8px 0;
      text-align: center;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
    &::after {
      display: block;
      content: "";
      width: 0%;
      height: 3px;
      margin: 5px 0;
      background-color: #fff;
      transition: width 0.3s;
    }
    @include md {
      &::after {
        display: none;
      }
    }
  }
}




